﻿@model List<ByDay.Web.UI.Models.UserModel>
<div class="main-container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <input type="text" placeholder="Search by Name" class="search-bar" id="autoSearchUser">
  
            </div>
        </div><!--/.row-->
        <div class="row">
            <div class="col-md-10 col-md-offset-1 order-list-view">
                    <table width="100%" class="table table-striped user-table user-table-head">
                        <colgroup>
                            <col class="gift-id">
                            <col class="delivery-date">
                            <col class="order-date">
                            <col class="order-status">
                        </colgroup>
                        <thead>
                            <tr>
                                <th class="user-wrap" style="width: 46%;">User</th>
                                <th style="width: 32%;">Email</th>
                                <th>Created Date</th>
                                @*<th>User Type</th>*@
                            </tr>
                        </thead>
                    </table>

                <div class="table-wrap">
                    <table width="100%" class="table table-striped user-table">
                        <tbody id="userList">
                            @*<tr id="userList"></tr>*@
                        </tbody>
                    </table>
                </div>
                </div>
        </div><!--/.row-->
    </div><!--/.container-fluid-->
</div>


<script>
    $(document).ready(function () {

        GetUserDetails();
    });
    var users = [];
    var newHtml = "";
    function GetUserDetails() {
        $("#autoSearchUser").val('');
        $.ajax({
            type: "POST",
            contentType: "application/json;charset=utf-8",
            url: '/User/GetUser/',
            success: function (Response) {
                if (Response.length != 0 && Response != null) {
                    newHtml = '';
                    $.each(Response, function (index, value) {
                       
                        var dateTime = value.CreatedAt = "null" ? "" : value.CreatedAt;
                        newHtml += '<tr class="UserInfo"><td class="user-wrap"><div class="user-image"><span> ' + value.Name[0] + '</span></div>' +
                          ' <span>'+value.Name+'</span> </td><td> '+value.EmailId+'</td><td>'+dateTime+'</td> </tr>'
                        users.push(value);

                    });
                    $("#userList").html(newHtml);
                }  }
        });
    }


    //get auto complete recipe name when user type in search field.
    jQuery("#autoSearchUser").autocomplete({

        source: function (request, response) {
            jQuery.ajax({
                //url: '/Product/GetAllProduct/',
                "url": "/User/GetFilterUser?searchLike=" + $('#autoSearchUser').val(),
                type: "POST",
                dataType: "json",
                data: { searchText: request.term },
                success: function (data) {
                    response($.map(data, function (item) {
                        return { label: item.Name, value: item.Name };

                    }))

                }
            })
        },
        minLength: 2,
        messages: {
            noResults: "", results: ""
        },
        select: function (event, ui) {
            var data = ui.item.value;
            $('#autoSearchUser').val(data);
           GetFilterUserDetails();

        }
    });


    function GetFilterUserDetails() {
        $.ajax({
            "url": "/User/GetFilterUser?searchLike=" + $('#autoSearchUser').val(),
            "type": "POST",
            "datatype": "json",
            success: function (data) {
                if (data.length != 0 && data != null) {
                    newHtml = '';
                    $("#userList").html(newHtml);
                    //while (users.length > 0) {
                    //    users.pop();
                    //}

                    $.each(data, function (index, value) {
                       var dateTime = value.CreatedAt = "null" ? "" : value.CreatedAt;
                        newHtml += '<tr class="UserInfo"><td class="user-wrap"><div class="user-image"><span> ' + value.Name[0] + '</span></div>' +
                          ' <span>' + value.Name + '</span> </td><td> ' + value.EmailId + '</td><td>' + dateTime + '</td> </tr>'
                        users.push(value);

                    });
                    $("#userList").html(newHtml);
                }
            }
        });
    }


    $("#autoSearchUser").keyup(function () {
        if ($('#autoSearchUser').val() == '') {
            GetUserDetails();

        }
    });
   
    //search user based on enter.
    $("#autoSearchUser").bind("enterKey", function (e) {
      //  newHtml = '';
        GetFilterUserDetails();
    });
    $("#autoSearchUser").keyup(function (e) {
        if (e.keyCode == 13) {
            $(this).trigger("enterKey");
        }
    });

</script>












