﻿<title>View Order</title>
<link href="//cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/css/bootstrap.css" rel="stylesheet" />
<link href="~/Content/css/font-awesome.css" rel="stylesheet" />
<link href="~/Content/css/bydayStyle.css" rel="stylesheet" />

<div class="row">
    <div class="col-md-8 col-md-offset-2" style="text-align:center;">
        <input type="text" placeholder="Search by order" name="OrderName" id="autoSearchOrder" onkeyup="" class="search-bar"><button disabled id="btnSearch">Search</button>

    </div>
</div>




<div class="row">
    <div class="col-md-10 col-md-offset-1 order-list-view">
        @*<table width="100%" class="table table-striped">*@
            <table id="myTable" width="100%" class="table table-responsive table-striped">
                <colgroup>
                    <col class="gift-id">
                    <col class="delivery-date">
                    <col class="order-date">
                    <col class="order-status">
                </colgroup>
                <thead>
                    <tr>
                        <th>Product Image</th>
                        <th>Order ID</th>
                        <th>Order By</th>
                        <th>Ordered Date</th>
                        <th>Delivery Date</th>
                        <th>Status</th>
                    </tr>
                </thead>
                @*<tbody>
                    <tr>
                        <td>00001</td>
                        <td>12/11/2016</td>
                        <td>21/10/2016</td>
                        <td>
                            <div class="dropdown">
                                <span type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="in-progress">
                                    In-Progress
                                </span>
                                <ul class="dropdown-menu" aria-labelledby="dLabel">
                                    <li>Order Conform</li>
                                    <li>In-progress</li>
                                    <li>Ready to Deliver</li>
                                    <li>Dispach</li>
                                    <li>Deliver</li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>00002</td>
                        <td>12/11/2016</td>
                        <td>21/10/2016</td>
                        <td>
                            <div class="dropdown">
                                <span type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    In-Progress
                                </span>
                                <ul class="dropdown-menu" aria-labelledby="dLabel">
                                    <li>Order Conform</li>
                                    <li>In-progress</li>
                                    <li>Ready to Deliver</li>
                                    <li>Dispach</li>
                                    <li>Deliver</li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>00003</td>
                        <td>12/11/2016</td>
                        <td>21/10/2016</td>
                        <td>
                            <div class="dropdown">
                                <span type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    In-Progress
                                </span>
                                <ul class="dropdown-menu" aria-labelledby="dLabel">
                                    <li>Order Conform</li>
                                    <li>In-progress</li>
                                    <li>Ready to Deliver</li>
                                    <li>Dispach</li>
                                    <li>Deliver</li>
                                </ul>
                            </div>
                        </td>
                    </tr>

                </tbody>*@

            </table>

    </div>
</div><!--/.row-->
@section Scripts{



    <script src="//cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/order-detail.js"></script>

}
