﻿
@model List<ByDay.Web.UI.Models.OrderModel>      
    
<input type="hidden" value="@Model[0].Id" id="order" /> 
 <div class="Order-detail-container">
            <div class="row">
                <div class="col-sm-5">
                    <div class="Gift-picture">
                     
                        @*<img src="~ @Model[0].ProductURL" />*@
                        <img src="@Model[0].ProductURL">
                    </div>

                </div><!--/.col-sm-5-->
                <div class="col-sm-7">
                    <div class="row">
                        <div class="col-sm-6"><strong>Order ID:</strong>  @Model[0].Id</div>
                        <div class="col-sm-6 order-detail-status">
                            <strong>Status:</strong> <div class="dropdown ">

                                <span type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="statusSelected" class="@Model[0].CurrentStatus">
                                    @Model[0].CurrentStatus
                                </span>
                                @*<ul class="dropdown-menu" aria-labelledby="dLabel" >
                                    <li>Order Conform</li>
                                    <li>In-progress</li>
                                    <li>Ready to Deliver</li>
                                    <li>Dispach</li>
                                    <li>Deliver</li>
                                </ul>*@                        
                              
                                                         <ul class="dropdown-menu" aria-labelledby="dLabel">
                                                             @foreach (var item in ViewBag.StatusList)
                                                             {
                                                                 <li class="status" onclick="SelectStatus(@item.Id,'@item.Name')" >@item.Name.</li>

                                                             }
                                                         </ul>
                            </div>
                        </div>

                    </div>
                    <div class="msg-with-gift">
                        <h2>Message for Inside of Card</h2>
                        @*<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>*@
                   <p>@Model[0].Message</p>
                     </div>
                </div>
            </div><!--/.row1-->
            <hr>
            <div class="row">
                <div class="col-sm-6 order-sender-detail">
                    <h2>Sender's Details</h2>
                    <div class="sender-name">@Model[0].UserName</div>
                    <div class="sender-address">@Model[0].UserAddress.Address</div>
                    <div class="sender-address">@Model[0].UserAddress.LandMark</div>
                    <div class="sender-city-address">@Model[0].UserAddress.City  @Model[0].UserAddress.PostalCode</div>
                    <div class="sender-country-address">@Model[0].UserAddress.StateName @Model[0].UserAddress.CountryName</div>

                </div><!--/.order-sender-detail-->

                <div class="col-sm-6 order-recipient-detail">
                    <h2>Recipient's Details</h2>
                    <div class="sender-name">@Model[0].ReceiverName</div>
                    <div class="sender-address">@Model[0].ReceiverEmail</div>
                    @*<div class="sender-address">Address line-1</div>*@
                    <div class="sender-city-address">@Model[0].ReceiverNum</div>
                    <div class="sender-country-address">@Model[0].ReceiverAddress</div>

                </div><!--/.row1-->
            </div>
            <hr />
            <div class="row">
                <div class="col-sm-12 payment-summary">
                    <h2>Payment Summary</h2>

                    <table width="100%" class="table table-striped">
                        <colgroup>
                            <col class="recipe-sno">
                            <col class="recipe-name">
                            <col class="recipe-image">
                        </colgroup>
                        <thead>
                            <tr>
                                <th>Detail</th>
                                <th>Qty</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@Model[0].ProductName</td>
                                <td>1</td>
                                <td>@Model[0].ProductPrice</td>
                            </tr>
                            @*<tr>
                                <th colspan="2" style="text-align:right">Postage Charges(US:)</th>
                                <td>@Model[0].ProductPrice</td>
                            </tr>*@
                            <tr>
                                <th colspan="2" style="text-align:right;">Grand Total</th>
                                <td><strong>@Model[0].TotalPrice</strong></td>
                            </tr>

                        </tbody>

                    </table>

                </div>
            </div>
     </div>
     <!--/row-->
            <!----/.Order-detail-container---->

<script>

    //$(document).ready(function () {
  
    //    SelectStatus(Name);
    //});

    function SelectStatus(statusId,statusName)
    {
      
        var orderId= $("#order").val();
        $.ajax({
            type: "POST",
            contentType: "application/json;charset=utf-8",
            url: '/Order/StatusOfOrder/',
            data: JSON.stringify({ statusId: statusId, orderId: orderId }),
            success: function (data) {
          
                if (data==1) {
                    $('#statusSelected').removeClass();
           
                    $('#statusSelected').addClass(statusName+'');
                    $('#statusSelected').html(statusName);
                }

            }
        });

    }

</script>



          








  
                  
         