﻿ @model ByDay.Web.UI.ViewModel.Recipe.RecipeEdit

<link href="~/Content/css/bydayStyle.css" rel="stylesheet" />
<link href="~/Content/css/font-awesome.css" rel="stylesheet" />
<script src="~/Scripts/ingredient-detail.js"></script>

<div class="ingredient-gp udate-ingredient">
    <div class="gp-remove-btn"> Delete</div>

    <div class="form-group">
        <label class="col-md-4 control-label required-filed">Ingredient</label>
        <div class="col-md-8">
            @Html.TextBox("Ingrideints[" + Model.count + "].IngredientName", "", new { @class = "form-control update-list", @placeholder = "Ingredient", @onKeyup = "return CheckValidation('"+Model.count+"')", maxlength = "50" })
            <p id="ingredient-errorid_@Model.count" class="field-validation-error ingredient-error"></p>
        </div>
    </div>


    <div class="form-group">
        <label class="col-md-4 control-label ">Type</label>
        <div class="col-md-8">

            @Html.TextBox("Ingrideints[" + Model.count + "].IngredientType", "", new { @class = "form-control ingre-type", @placeholder = "Types", @onKeyup = "return CheckIngreTypeValidation('" + Model.count + "')", maxlength = "50" })
           
              </div>
    </div>

    <div class="form-group">
        <label class="col-md-4 control-label">Quantity</label>
        <div class="col-md-8">
            @Html.DropDownListFor(m => m.Ingrideints[Model.count].QuantityId, new SelectList(Model.Ingrideints[0].Quantities, "Id", "Value", Model.Ingrideints[0].QuantityId), "--Select--", new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-4 control-label">Quantity type</label>
        <div class="col-md-8">
            @Html.DropDownListFor(m => m.Ingrideints[Model.count].QuanityTypeId, new SelectList(Model.Ingrideints[0].QuantityType, "Id", "Value", Model.Ingrideints[0].QuanityTypeId), "--Select--", new { @class = "form-control" })
        </div>
    </div>
    @*<div class="form-group">
        <label class="col-md-4 control-label">Ingredient cost (excluding pantry) (USD)</label>
        <div class="col-md-8">
            @Html.TextBox("Ingrideints[" + Model.count + "].IngredientCost", "", new
       {
           @class = "form-control",
           oncopy = "return false",
           onpaste = "return false",
           oncut = "return false",
           @placeholder = "Ingredient costs",
           @onkeypress = "return AllowOnlyNumber(event)"
       })


        </div>
    </div>*@
    <div class="form-group">
        <label class="col-md-4 control-label">Tips (incl. link to hard to find ingredients, if appropriate)</label>
        <div class="col-md-8">
            @Html.TextArea("Ingrideints[" + Model.count + "].Tip", "", new
       {
           @class = "form-control",
           @placeholder = "Tips",
           maxlength = "500"
       })

        </div>
    </div>
    @*<div class="form-group">
        <label class="col-md-4 control-label">Hard to find</label>
        <div class="col-md-8">
           @Html.DropDownListFor(m => m.Ingrideints[Model.count].HardToFind, new SelectList(new[]{
            new { Value = "true", Text = "Yes" },
            new { Value = "false", Text = "No" },
                                                   }, "Value", "Text"), new { @class = "form-control" })
        </div>
    </div>*@
    @*<div class="form-group">
        <label class="col-md-4 control-label">Type</label>
        <div class="col-md-8">
            <div class="form-control multiple-select">
                <ul>
                    @foreach (var ingreType in Model.Ingrideints[0].IngridientType)
                    {
                        if (Model.Ingrideints[0].IngridientTypeId != null)
                        {
                            if (Model.Ingrideints[Model.count].IngridientTypeId != null)
                            {
                                if (Model.Ingrideints[Model.count].IngridientTypeId.Where(x => x == ingreType.Id).Any())
                                {
                                    <li><label><input name="Ingrideints[@Model.count].IngridientTypeId" value="@ingreType.Id" type="checkbox" checked="checked">@ingreType.Value</label></li>
                                }
                                else
                                {
                                    <li><label><input name="Ingrideints[@Model.count].IngridientTypeId" value="@ingreType.Id" type="checkbox">@ingreType.Value</label></li>
                                }
                            }
                            else
                            {
                                <li><label><input name="Ingrideints[@Model.count].IngridientTypeId" value="@ingreType.Id" type="checkbox">@ingreType.Value</label></li>
                            }
                        }
                        else
                        {
                            <li><label><input name="Ingrideints[@Model.count].IngridientTypeId" value="@ingreType.Id" type="checkbox">@ingreType.Value</label></li>
                        }
                    }

                </ul>

            </div>

        </div>
    </div>*@

    <div class="form-group">
        <label class="col-md-4 control-label">Omittable</label>
        <div class="col-md-8">

            @Html.DropDownListFor(m => m.Ingrideints[Model.count].Omittable, new SelectList(new[]{
                  new { Value = "", Text = "--Select--" },
            new { Value = "true", Text = "Yes" },
            new { Value = "false", Text = "No" },
                                                   }, "Value", "Text"), new { @class = "form-control" })
        </div>
    </div>

</div>




