﻿@using ByDay.Model
@using ByDay.Utility
@{
    var userInfo = ((ByDay.Web.UI.Authentication.CustomPrincipal)(User));
}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <link href="~/Content/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/css/bydayStyle.css" rel="stylesheet" />
    @*<link href="~/Scripts/Editor/editor.css" rel="stylesheet" />*@
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.2.1.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/nav-accordion.js"></script>
    <link href="~/Content/css/editor.css" rel="stylesheet" />

</head>
<body>
    <div class="page-container">
        <div class="side-nav-bar">
            <div class="sidebar-branding"> <a href="/Recipe/Index"><img src="~/Content/images/band.png" alt=""></a> </div>
            <div class="side-navigation">
                <ul class="list-accordion">
                    <li class="expand-parent-li ">
                        <a href="#" class="accordion waves-effect dcjq-parent active"id="view-recipe" onclick="return setcolor(this);"><span class="nav-icon" ><img src="~/Content/images/recipe-active.png" alt=""></span><span class="nav-label">Recipes</span> <span class="expand-icon"></span></a>
                        <ul style="display: none;">
                            <li class="ex-change-color"> <a href="/Recipe/Index">View Recipes</a></li>
                            <li class="ex-change-color"><a href="/Recipe/AddRecipe">Add Recipe</a></li>
                            <li class="ex-change-color"><a href="/Recipe/AddTip">Add Tip</a></li>
                            <li class="ex-change-color"><a href="/Recipe/IndexTip">View Tips</a></li>

                                 </ul>
                    </li>
                    <li class="expand-parent-li">
                        <a href="/User/Index"  class="accordion waves-effect dcjq-parent" id="user-mangement" onclick="return setcolor(this);"><span class="nav-icon"><img src="~/Content/images/usermange.png" alt=""></span><span class="nav-label">User Management</span> <span class="expand-icon"></span></a>

                    </li>

                    <li class="expand-parent-li">
                        <a href="#" class="accordion waves-effect dcjq-parent" id="product-man" onclick="return setcolor(this);">
                            <span class="nav-icon">
                                <img src="~/Content/images/orderManagement.png" alt="" />
                            </span><span class="nav-label" >Product Management</span> <span class="expand-icon"></span>
                        </a>
                        <ul style="display: none;">

                            <li class="ex-change-color"> <a href="@Url.Action("Index", "Product")"  id="viewProductId">View Products </a></li>

                   
                            <li class="ex-change-color"><a href="/Product/AddProduct">Add Product</a></li>

                        </ul>


<li class="expand-parent-li">
                        <a href="#" class="accordion waves-effect dcjq-parent" id="order-man" onclick="return setcolor(this);">
                            <span class="nav-icon">
                                <img src="~/Content/images/orderManagement.png" alt="" />
                            </span><span class="nav-label">Order Management</span> <span class="expand-icon"></span>
                        </a>
                        <ul style="display: none;">
                          
                            <li class="ex-change-color"> <a href="/Order/Index" id="viewOrderId" >View Order </a></li>          
                        </ul>
                    </li>

                    <li class="expand-parent-li">
                        <a href="/ArtificalIntelligence/Index" class="accordion waves-effect dcjq-parent" id="artifical" onclick="return setcolor(this);"><span class="nav-icon"><img src="~/Content/images/ai.png" alt=""></span><span class="nav-label" >Artifical Intelligence</span> <span class="expand-icon"></span></a>
                        <!--  <ul style="display: none;">
                          <li><a href="dashboard-01.html">View Recipes</a> </li>
                          <li><a href="dashboard-02.html">Add Recipes</a> </li>
                        </ul>-->
                    </li>
                </ul>
            </div>
        </div>
        <!--/.side-nav-bar-->
        <div class="section-content">
            <div class="header-bar">
                <div class="user-nav">
                    <ul>
                        <li class="dropdown">
                            <a href="#" class="clearfix dropdown-toggle waves-effect waves-block waves-classic" aria-expanded="false"><span class="user-info">@User.Identity.Name <cite>@userInfo.Email</cite></span> <span class="user-thumb"><img src="~/Content/images/user.png" alt="image"></span> </a>
                            <ul role="menu" class="dropdown-menu fadeInUp">
                                <li><a href="#"><span class="user-nav-icon"><i class="fa fa-briefcase"></i></span><span class="user-nav-label">My Account</span></a> </li>
                                <li><a href="#"><span class="user-nav-icon"><i class="fa fa-user"></i></span><span class="user-nav-label">View Profile</span></a> </li>
                                <li><a href="#"><span class="user-nav-icon"><i class="fa fa-cogs"></i></span><span class="user-nav-label">Settings</span></a> </li>

                            </ul>
                        </li>
                        <li>
                            @using (Html.BeginForm("LogOut", "Account", FormMethod.Post, new { id = "logoutForm" }))
                            {
                                <span class="logout-thumb">
                                    <img src="~/Content/images/logout-icon.png" alt="">
                                </span>
                                <button type="submit" class="logout-label">Log Out</button>
                            }
                        </li>
                    </ul>
                </div>
            </div>

            <div class="main-container">
                <div class="container-fluid">
                    <div class="admin-breadcrumb">
                        <div class="row">
                            <div class="col-md-7">
                           
                    @if (ViewBag.BreadCrumbs != null)
                     {
                        if (ViewBag.BreadCrumbs[0].Text == "Recipe") { 
                                                              <div class="current-page">Recipes</div>  }
                        else if (ViewBag.BreadCrumbs[1].Text == "Add product" || ViewBag.BreadCrumbs[1].Text == "View product" || ViewBag.BreadCrumbs[1].Text == "Edit product")
                        {
                            <div class="current-page">Product Management</div>  }
                        else if (ViewBag.BreadCrumbs[1].Text == "View Order")
                        {  
                            <div class="current-page">Order Management</div>  }
                        else if (ViewBag.BreadCrumbs[1].Text == "Add Tip" || ViewBag.BreadCrumbs[1].Text == "View Tip" || ViewBag.BreadCrumbs[1].Text == "Tips Detail")
                        {
                            <div class="current-page">Tip</div>  }
                        else if (ViewBag.BreadCrumbs[1].Text == "Artifical Intelligence")
                        {
                            <div class="current-page">Artifical Intelligence</div>  }
                        else if (ViewBag.BreadCrumbs[1].Text == "View User")
                        {
                            <div class="current-page">User</div>  }
                        
                    }
                    else
                    { <div class="current-page">Recipes</div>}
                                <ul>
                                    @if (ViewBag.BreadCrumbs != null)
                                    {
                                        @Html.RenderBreadCrumbs(ViewBag.BreadCrumbs as List<BreadCrumb>)
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>


    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/editor.js"></script>
    <script src="~/Scripts/main.js"></script>

    <script type="text/javascript">
     
        $(document).ready(function () {

            jQuery(function () {
                jQuery('.ex-change-color').each(function () {
                    var href = jQuery(this).find('a').attr('href');
                    if (href === window.location.pathname) {

                        jQuery(this).find('a').addClass('activeColor');
                    }
                });
            });

            $('a.accordion').click(function () {
             
                $('a.accordion').removeClass("active");
                for (var i = 0; i < $('a.accordion').find('img').length; i++) {
                    var replace = $($('a.accordion').find('img')[i]).attr('src').replace('-active', '');
                    $($('a.accordion').find('img')[i]).attr('src', replace);
                }

                $(this).addClass("active");
                var image = $(this).find('img').attr('src');
                var imagePathArray = image.split('/');
                var imageNameWithExt = imagePathArray[imagePathArray.length - 1];
                var imageName = imageNameWithExt.split('.')[0];
                imageName += "-active." + imageNameWithExt.split('.')[1];
                $(this).find('img').attr('src', "/Content/Images/" + imageName);
            });
            $('.list-accordion').each(function () {
                
                $(this).dcAccordion({
                    eventType: 'click',
                    hoverDelay: 100,
                    autoClose: false,
                    saveState: false,
                    disableLink: true,
                    speed: 'fast',
                    showCount: false,
                    autoExpand: true,
                    cookie: 'dcjq-accordion-1',
                    classExpand: 'dcjq-current-parent active'
                });
            });
            if (localStorage.getItem("SetSelected") != null) {
                    trigerMenuItem();
            }
        });


        function setcolor(sender) {
            $('a.accordion').nextAll("ul").css("display", "none");
            var id = $(sender).attr("id");
            localStorage.setItem("SetSelected", id);
        }

        function trigerMenuItem() {
            $('a.accordion').nextAll("ul").css("display", "none");
            var currentSelected = localStorage.getItem("SetSelected");
            $('#' + currentSelected).addClass("active");
            $('#'+currentSelected).next("ul").css("display", "block");
         
        }



        //var flag = false;
        //$('#viewProductId').click(function () {
        //    debugger;
        //    alert('sdfsd');
        //    $(this).find('dcjq-parent"').addClass("active");
        //    flag = true;
        //    // $('#viewProductId').trigger('click');
        //});

        //if (flag = true) {
        //    alert();
        //    debugger;
        //    $('#viewProductId').trigger('click');
        //}





        $(".resizable")
  .wrap('<div/>')
    .css({ 'overflow': 'hidden' })
      .parent()
        .css({
            'display': 'inline-block',
            'overflow': 'hidden',
            'height': function () { return $('.resizable', this).height(); },
            //'width':  function(){return $('.resizable',this).width();},
            'paddingBottom': '12px',
            'paddingRight': '12px',
            'width': '100%',
            'height': '350px'


        }).resizable().find('.resizable')
                  .css({
                      overflow: 'auto',
                      width: '100%',
                      height: '100%'
                  });
        function RemoveLocalStorage() {
            localStorage.clear();
        }

    </script>
    @RenderSection("scripts",false)
</body>
</html>


