﻿@model ByDay.Web.UI.Models.ProductModel
@{
    ViewBag.Title = "AddProduct";
}
@using (Html.BeginForm("AddProduct", "Product", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data", @id = "productForm" }))
{

<div class="row">
    <div class="col-md-6">
        <div class="form-main-container">
            <div class="form-heading">
                <span class="form-heading-icon"><i class="fa fa-bars"></i></span>
                <h4>Product Category & Sub-category</h4>
            </div>
            <div class="form-container">
                <div class="form-horizontal">
                    <div class="form-group category-form" id="categoryLabel-form">
                        <label class="col-md-4 control-label required-filed">Category Name</label>
                        <div class="col-md-8">
                            @Html.DropDownListFor(m => m.Id, new SelectList(Model.ProductCategoryList, "Id", "Name", Model.Id), "--Select--", new { @class = "form-control", id = "selectName" })
                            <a title="Add new category" id="category-form-btn" >+</a>
                        </div>
                    </div>
                    <div class="form-group sub-form-gp" id="category-form">
                          <div class="col-md-12">
                           <div class="r1">
                                @Html.TextBoxFor(m => m.CategoryName, new
                           {
                               @class = "form-control",
                               @id = "pro-validid",
                               @placeholder = "New Category Name",
                               maxlength = "100"
                           })
                                <p id="proName-error" class="field-validation-error"></p>
                            </div>
                            <div class="r2">
                                <input type="button" value="Save" onclick = "return submitProductCategoryData();" class="theme-btn">
                            </div>
                      </div>
                    </div>
                    <div class="form-group category-form">
                        <label class="col-md-4 control-label required-filed">Sub-category Name</label>
                        <div class="col-md-8" id="subcatId">
                            @Html.DropDownListFor(m => m.SubCategoryId, new SelectList(Model.ProductSubCategoryList, "Id", "Name", Model.Id), "--Select--", new { @class = "form-control", id = "pro-subCatgory" })
                           <a title="Add new category" id="subcategory-form-btn">+</a>
                        </div>
                    </div>
                    <div class="form-group subcategory-form-gp"  id="subcategory-form">
                        <div class="col-md-12">
                            <div class="r1">
                            <input type="text" readonly name="categoryId" class="form-control" id="catId" placeholder=""></div>
                            <div class="r2">
                                @Html.TextBoxFor(m => m.Name, new
                           {
                               @class = "form-control",
                               @id = "proSub-validid",
                               @placeholder = "New Sub Category",
                               maxlength = "100"
                           })
                                <p id="proSubName-error" class="field-validation-error"></p>
                            </div>
                            <div class="r3">
                                <input type="button" value="Save" onclick = "return submitProductSubCategoryData()" class="theme-btn">
                            </div>
                        </div>
                        </div>
                     </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-main-container">
            <div class="form-heading">
                <span class="form-heading-icon"><i class="fa fa-bars"></i></span>
                <h4>Product</h4>
            </div>
            <div class="form-container">
                <div class="form-horizontal">
                      <div class="form-group">
                        <label class="col-md-4 control-label required-filed">Product Name</label>
                        <div class="col-md-8">
                           @Html.TextBoxFor(x => x.ProductName, new
                       {
                           @class = "form-control",
                           @id = "proname-validid",
                           @placeholder = "Product Name",
                           maxlength = "100"
                       })
                            <p id="productName-error" class="field-validation-error" ></p>

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label required-filed">Product Price</label>
                        <div class="col-md-8">
                        @Html.TextBoxFor(m => m.Price, new
                   {
                       @class = "form-control",
                       @id = "price-validid",
                       @placeholder = "Price",
                       oncopy = "return false",
                       onpaste = "return false",
                       oncut = "return false",
                   

                       maxlength = "7"
                   })


                            <p id="price-error" class="field-validation-error" ></p>

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label required-filed">Product Type</label>
                        <div class="col-md-8">
                            @Html.DropDownListFor(m => m.Type, new SelectList(new[]{
                                 new { Value = "", Text = "--Select--" },
                                 new { Value = "G", Text = "Gift" },
                                 new { Value = "C", Text = "Card" }
                             }, "Value", "Text"), new { @class = "form-control", @id = "producttype-validid" })

                            <p id="producttype-error" class="field-validation-error" ></p>
                      
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Needs custom photo</label>
                        <div class="col-md-8">
                            @Html.DropDownListFor(m => m.IsCustomizable, new SelectList(new[]{
                                   new { Value = "false", Text = "No" },
                                 new { Value = "true", Text = "Yes" }
                             }, "Value", "Text"), new { @class = "form-control", @id = "iscustom-validid" })
                            <p id="iscustom-error" class="field-validation-error"></p>

                        </div>
                    </div>
                    <div class="form-group upload-product-image">
                        <label class="col-md-4 control-label required-filed">Upload Image</label>
                        <div class="col-md-8 upload-product-image">
                            <div class="col-md-4">


                                <img class="upload-image" src="/Content/images/byDefault.png">
                            </div>

                            <div class="col-md-8">
                                <label for="file-upload" class="custom-file-upload" id="custom-file-upload">
                                    <i class="fa fa-image"></i> Image Upload
                                </label>
                                <input type="file" id="file-upload" class="form-control uploadimg" name="FileName" onchange="SelectProductImage(this);">

                                <p id="uploadimage-error" class="field-validation-error"></p>

                            </div>

                        </div>
                        </div>
                    <div id="extraImages_" class="multi-image-wrap"></div>
                    <div class="form-group" id="more-option">
                        <label class="col-md-4 control-label">&nbsp;</label>
                        <div class="col-md-8">
                            <div class="form-actions">
                                <button type="button" id="btnAddMore" onclick="AddMoreRowsImage()" class="btn btn-default"> + Add More Image</button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4 col-md-offset-2">
                            @*<input type="submit" value="Save" class="theme-btn">*@
                            <input type="button" value="save" id="savePrductBtn" class="theme-btn">
                        </div>
                        <div class="col-md-4"><input type="button" value="Reset" id="reset-product-btn" class="btn-default"></div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

</div>
}
@section scripts{

    <script>
    $('#reset-product-btn').click(function () {
    
        $('#productForm')[0].reset();
        $("#pro-subCatgory").html("<option value=''>--Select--</option>");
        $('#pro-subCatgory').attr("disabled", true);
        DisableInputControll();
        ClearAllValidation();
        $("#subcategory-form").hide();
        $("#category-form").hide();
       
    });
</script>

<script src="~/Scripts/product-detail.js"></script>
}
