﻿@{
    ViewBag.Title = "Index";
}
<!----/.Order-detail-container---->
<div class="product-detail-container" style="background:#fff">
    <div class="searching-bar">
        <div class="right-bar">

            <select id="category-filter" onchange="FilterRecord();">
                <option value="">Select Category</option>
                <option value="C" >Card</option>
                <option value="G">Gift</option>
            </select>
            @*<input type="search">*@
          <input type="text" placeholder="Search Product" name="productName" id="autoSearchProduct" onkeyup="" class="">
    

        </div>
    </div><!--/Seraching-bar-->
    <div class="product-grid">
        <ul id="pro-list">
            @*@foreach (var data in ViewBag.productList)
            {  <li>
                    <div class="product-img">
                        <p class="product-name">@data.Name</p>
                        <img src="@data.URL">
                    </div>
                    <div class="product-info">
                        <p>
                            <div class="product-id">@data.Id</div>
                            <div class="product-price">@data.Price</div>
                        </p>
                    </div>
                </li>
            }*@
        </ul>
    </div>
    <p class="more-result-btn" > 
        <a href="javascript:void(0) " onclick="GetProductDetails();">
            See More Product..
        </a></p>
    <p class="no-result-btn" hidden>No Product Found..</p>
</div>
<div id="modal_dialog" style="display: none">
    Are you sure?
</div>
<script src="~/Scripts/Product-Index.js"></script>
