﻿@charset "utf-8";
/* CSS Document */
body, html {
    width: 100%;
    height: 100%;
}
a{
	-webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;	
}
a:focus{
    outline:none;
}
body {
    background-color: #f5f5f5;
    color: #454545;
    font-weight: 400;
    font-size: 14px;
}
/**********************default class*************************************/
.no-margin{margin:0 !important;}
.mar-b-0{margin-bottom:0 !important;}
.no-padding{padding: 0 !important;}
.btn{outline: 0 !important;}

.byday-login-page {
    width: 100%;
    height: 100%;
    background: #343843;
    position: relative;
}

.byday-login-form-container {
    /*	width: 300px;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	margin: 0 auto;
	height: 400px;
	padding: 10px;
	text-align: center;
	color: #fff;*/
}

.login-branding {
    width: 300px;
    margin: auto;
    text-align: center;
    padding: 10px 0px;
}

    .login-branding img {
        width: 150px;
        padding: 10px;
    }

.byday-login-form {
    width: 300px;
    margin: auto;
    padding: 20px;
    text-align: center;
    background-color: #fff;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

    .byday-login-form .user-icon {
        width: 100px;
        height: 100px;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border-radius: 100%;
        margin: 0 auto;
        margin-bottom: 20px;
        margin-top: 20px;
    }

.login-form-row {
    padding: 5px 0;
    text-align: left;
}

.login-form-row input[type="email"], .login-form-row input[type="password"], .login-form-row input[type="text"] {
        border: none;
        border-bottom: 1px solid #555555;
        background: none;
        font-size: 14px;
        width: 100%;
        color: #555;
        padding: 8px 0;
        box-shadow:none;
        -webkit-box-shadow:none;
        border-radius:0;
    }

.login-form-row input[type="email"]:focus, .login-form-row input[type="password"]:focus, .login-form-row input[type="text"]:focus {
            outline: none;
        }

.login-form-row label {
        font-weight: normal;
        color: #555;
        font-size: 12px;
    }

    .login-form-row button {
        width: 100%;
    }

.btn-primary {
    background: #009fb3;
    border: none;
    padding: 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
/***********************************************************/
/**********************Side Bar*************************************/

.side-nav-bar {
    width: 260px;
    background-color: #343843;
    position: fixed;
    left: 0px;
    top: 0px;
    height: 100%;
    z-index: 1000;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

    .side-nav-bar .sidebar-branding {
        height: 60px;
        background-color: #15bdc3;
        -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
        -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
        text-align: center;
    }

.side-navigation {
    overflow-y: auto;
}

.side-navigation > ul {
    margin: 0px;
    padding: 0px;
}

.side-navigation > ul > li {
    list-style: none;
}

.side-navigation .list-accordion > li > a {
    display: block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.side-navigation .active:focus {
    text-decoration: none;
}
.side-navigation ul li a:focus {
    text-decoration: none;
}

.side-navigation > ul > li > a {
    color: #9eadb3;
    border-bottom: rgba(0, 0, 0, 0.1) 1px solid;
    padding: 13px;
    display: block;
}

.side-navigation li a {
    color: #9eadb3;
    position: relative;
}

.side-navigation > ul > li > a:hover {
    color: #15bdc3;
    text-decoration: none;
}

.side-navigation > ul ul li a:hover {
    color: #15bdc3;
    text-decoration: none;
}

.side-navigation > ul > li > a .nav-icon {
    padding-right: 10px;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.nav-icon img {
    width: 25px;
}

.waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    will-change: opacity, transform;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.expand-icon {
    display: inline-block;
    width: 14px;
    height: 14px;
    position: absolute;
    right: 14px;
    top: 15px;
}

.side-navigation > ul ul {
    margin: 0px 0px 0px 16px;
    border-left: rgba(255, 255, 255, 0.05) 1px solid;
    padding: 0px;
    list-style: none;
}

    .side-navigation > ul ul li a {
        padding: 10px 10px 10px 16px;
        display: block;
    }

.expand-icon:after {
    content: "\f105";
    font-family: 'FontAwesome';
    display: inline-block;
    position: relative;
    top: -3px;
    right: -6px;
}

.side-navigation .active {
    color: #15bdc3 !important;
}
/***********************************************************/
/**********************Header Bar*************************************/
.header-bar {
    min-height: 60px;
    background-color: #eceff1;
    margin-top: -1px;
    z-index: 800;
    position: relative;
    -webkit-box-shadow: 0 0 0px rgba(68, 68, 68, 0.2);
    -moz-box-shadow: 0 0 0px rgba(68, 68, 68, 0.2);
    box-shadow: 0 0 0px rgba(68, 68, 68, 0.2);
}

.user-nav {
    float: right;
    margin-right: 20px;
}

    .user-nav ul {
        margin: 0px;
        padding: 0px;
    }

        .user-nav ul li {
            list-style: none;
            border-left: 1px solid #ccc;
            display: inline-block;
            vertical-align: top;
            height: 60px;
        }

    .user-nav > ul > li > a {
        color: #444444;
        display: block;
        min-height: 61px;
        padding: 0px 10px 0px 14px;
    }

    .user-nav ul > li .user-info cite {
        display: block;
        font-size: 12px;
        font-style: normal;
    }

    .user-nav ul > li .user-info {
        display: inline-block;
        float: left;
        line-height: 20px;
        margin-top: 8px;
    }

    .user-nav ul > li .user-thumb {
        display: inline-block;
        float: right;
    }

.user-thumb img {
    margin: 6px 0px 3px 10px;
    width: 46px;
    height: 46px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 1px solid #555;
    padding: 2px;
}

.dropdown-menu > li > a {
    display: block;
    padding: 6px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333333;
    white-space: nowrap;
}

.dropdown-menu > li {
    width: 100%;
}

.user-nav .dropdown-menu > li > a {
    line-height: 45px;
    border-bottom: #eeeeee 1px solid;
    padding: 0px 15px;
}

.user-nav-label {
    position: relative;
    margin-left: 8px;
}

.logout-thumb, .logout-label {
    display: inline-block;
    float: left;
}

    .logout-thumb img {
        width: 20px;
        margin: 20px 2px 0 5px;
    }

.logout-label {
    font-size: 12px;
    margin: 22px 0 0 4px;
}
/***********************************************************/
/**********************Stage Bar*************************************/
.section-content {
    margin-left: 260px;
}

.main-container {
    margin: 0px 15px;
}

.admin-breadcrumb {
    margin: 20px 0;
}

.current-page {
    font-weight: 400;
    font-size: 22px;
    margin-top: 0px;
    margin-bottom: 6px;
}

.admin-breadcrumb ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

    .admin-breadcrumb ul li {
        display: inline-block;
        font-size: 12px;
    }

        .admin-breadcrumb ul li a {
            color: #454545;
        }
        
            .admin-breadcrumb ul li a:hover {
                text-decoration: none;
            }

        .admin-breadcrumb ul li.active-page {
            color: #868686;
        }

.admin-breadcrumb li:after {
    content: "\f105";
    display: inline-block;
    font-family: FontAwesome;
    padding: 0px 5px;
}

.admin-breadcrumb li:last-child:after {
    content: "";
    display: inline-block;
}

.form-main-container {
    margin-bottom: 30px;
    border-top: solid 1px #eeeeee;
    border-left: solid 1px #eeeeee;
    border-right: solid 1px #eeeeee;
    border-bottom: solid 1px #eeeeee;
    background: #ffffff;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

    .form-main-container .form-heading {
        position: relative;
        height: 56px;
        border-bottom: #eeeeee 1px solid;
        -webkit-border-top-right-radius: 0px;
        -webkit-border-bottom-right-radius: 0;
        -webkit-border-bottom-left-radius: 0;
        -webkit-border-top-left-radius: 0px;
        -moz-border-radius-topright: 0px;
        -moz-border-radius-bottomright: 0;
        -moz-border-radius-bottomleft: 0;
        -moz-border-radius-topleft: 0px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0px;
        -moz-background-clip: padding-box;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        background: #f9f9f9;
    }

    .form-main-container .form-container {
        /*display: block;*/
        width: 100%;
        position: relative;
        padding: 2.5%;
    }
  
    .form-main-container .form-heading-icon {
        display: inline-block;
        float: left;
        text-align: center;
        height: 56px;
        width: 56px;
        border-right: #eeeeee 1px solid;
        line-height: 56px;
    }

    .form-main-container .form-heading h4 {
        margin: 0px;
        display: inline-block;
        float: left;
        padding-left: 20px;
        font-size: 14px;
        line-height: 56px;
        color: #444444;
    }
    .required-filed::after
    {
      color: red;
      content: "*";
      position: absolute;
     font-size: 20px;
    font-weight: bold;
    margin-top: -3px;
    }
    .form-main-container form {
        padding: 20px;
    }

.control-label {
    font-weight: 400;
}
#btnAddMore
{
    width:130px;
    float:right;
}
#btnAddMoreIngredients
{
    width:160px;
    float:right;
}
/*button[disabled], html input[disabled], .btn-default[disabled]:hover
{
    background:rgba(0, 0, 0, 0.3)!important;
    color:#fff;
}*/
.btn-default:active:hover, .btn-default.active:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active    
{
   background: #444444;
    border: none;
    color: #fff;
}

.multiple-select {
   height: 75px;
    /*height:initial;
    min-height:70px;
    max-height:250px;*/
   overflow-x:hidden;
   overflow-y:auto;
}

    .multiple-select ul {
        list-style: none;
        padding-left: 10px;
    }

        .multiple-select ul label {
            font-weight: normal;
       
        }
        .multiple-select input[type="radio"], input[type="checkbox"]
        {
            margin: 0px 3px 0 0;
    vertical-align: middle;
        }

.theme-btn {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #15bdc3;
    border: none;
    color: #fff;
    padding: 5px 0;
    width: 100%;
    margin: 10px 0;
}
a.theme-btn
{
    display:inline-block;
    text-align:center;
}
a.theme-btn:hover
{
    text-decoration:none;
    color:#fff;
}
.btn-default {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #444444;
    border: none;
    color: #fff;
    padding: 5px 0;
    width: 100%;
    margin: 10px 0;
}

.logout-label {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: none;
    border: none;
}

    .logout-label:focus {
        outline: none;
    }

.search-bar {
    display:inline-block;
    /*float:left;*/
    max-width: 320px;
    width:60%;
    height: 38px!important;
    /*padding: 8px 12px;*/
    padding-left: 40px;
    font-size: 14px;
    
    color: #555;
    background: #fff url(../images/Search-icon.png) no-repeat ;
    background-size: 25px;
    background-position: 8px 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    border-top-right-radius:0px;
    border-bottom-right-radius:0px;
       /*display:inline-block;*/
       /*vertical-align:top;*/
       box-sizing:border-box;
}
#btnSearch
{
    /*padding:7px;*/
   -webkit-appearance:none;
   -moz-appearance:none;
   appearance:none;
   border:none;
   color:#fff;
   background:#15bdc3;
   width:100px;
   display:inline-block;
   line-height:36px;
}
.table-striped > tbody > tr:nth-of-type(odd) {
    background: #fff;
}

.table-striped > tbody > tr:nth-of-type(even) {
    background: #f0f0f0;
}

.table > thead > tr > th {
    vertical-align: bottom;
    background: #444444;
    color: #fff;
    border-bottom: 2px solid #ddd;
    padding: 15px;
    font-weight: normal;
    text-align: center;
}

.table-striped > tbody > tr > td {
    text-align: center;
    vertical-align: middle !important;
}

.recipe-sno {
    width: 50px;
    border-right: 1px solid #ccc;
}

.recipe-name {
    width: 25%;
    border-right: 1px solid #ccc;
}

.recipe-image {
    width: 150px;
    border-right: 1px solid #ccc;
}

.table-striped > tbody > tr img {
    width: 40px;
}

.table-striped > tbody > tr a {
    color: #444444;
    cursor:pointer;
}

.recipe-list-view {
    margin-top: 40px;
    margin-bottom: 20px;
}
.form-container .img-thumbnail
{
    width:29%;
    margin:1.5%;
}

.field-validation-error {
color:red;
font-size:12px;
margin:0;
margin-top:-5px;
}
.activeColor{
  
    color:#15bdc3!important;
}
.validation-summary-errors{

    color:red;
}
.validation-msg{
    color:red;
}
.recepie-image
{height:150px;
}
.recepie-image img
{
	max-width:100%;
    max-height:100%;


}
.view-recipe-detail h3
{
font-size:16px;
font-weight:600;	
}
.view-recipe-detail .table > thead > tr > th{
    vertical-align: bottom;
    background: #444444;
    color: #fff;
    border-bottom: 2px solid #ddd;
    padding: 10px;
    font-weight: 600;
     text-align: Left; 
}
.view-recipe-detail .table-striped > tbody > tr >td {
    text-align: left;
    vertical-align: middle!important;
}
.intgredients-item li
{
	/*list-style:"#";*/
}
.basic-recepie-detail
{
	width:100%;
	max-width:100%;
}
.basic-recepie-detail tbody > tr:first-child >td
{
	font-weight:600;
}
.basic-recepie-detail tbody > tr>td:first-child 
{
    padding-left:0px;
}
.basic-recepie-detail tbody > tr>td
{
	padding:5px 10px;
	border-right:1px dashed #ccc;
}
.basic-recepie-detail tbody > tr>td:last-child
{
	border:none;
}
.upload-image-container img{
width:30px; 
height:30px;
   
}

.form-control{
    width:97%;
}
 input[type="file"] {
    display: none!important;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    font-weight:normal;
    font-size:13px;
}
.input-validation-error:focus{
    border:1px solid red;
}
.input-validation-error{
    border:1px solid red;
}
/*.upload-image-main-container {
    width:80%;
    background:red;
}
.upload-image-main-container img
{
    width:100%;

}*/
.dataTables_wrapper .dataTables_info
{
    float:right!important;
    margin:10px;

}
.dataTables_wrapper .dataTables_length
{
    margin:10px 0;
}
.dataTables_wrapper .dataTables_length label 
{
    font-weight:normal;
}
.dataTables_wrapper .dataTables_length select
{
    padding:5px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover
{
    background:#15bdc3!important;
    color:#fff!important;
}
.bottom
{
    margin:10px 0;
}
.uploadImages .col-md-2, .uploadImages  .col-md-4 , .uploadImages .col-md-6,.upload-image-container .col-md-2, .upload-image-container .col-md-4 , .upload-image-container .col-md-6 
{
    padding:0 5px ;
   
}
.uploadImages .col-md-2,.upload-image-container .col-md-2
{ text-align:center;

}

/*.ingredient-gp:first-child, .upload-image-gp:first-child*/
/*.ingredient-gp, .upload-image-gp
{
    background:transparent;
    padding: 0;
     margin-bottom:10px;
}*/
.ingredient-gp, .upload-image-gp
{
    background: #f3f3f3;
    position:relative;
    padding: 30px 0px 10px 0px;
    margin-bottom:10px;
}
.gp-remove-btn, .gp-remove-image-btn {
        position: absolute;
    right: 0px;
    top: 0px;
    font-size: 14px;
    color: #f5f5f5;
    cursor: pointer;
    background: #f32b2b;
    padding: 0 5px;
    border:none;
}
.multi-image-wrap{
    
    overflow:auto;
}
.multi-image-wrap .upload-image-gp{
    width: 95%;
    margin: 0 auto 10px!important;
}
.form-horizontal .form-group {
   margin-right: 0px;
   margin-left: 0px;
}

table.dataTable thead .sorting_asc
{
    background-image:none;
}
/*****Order Mangement*****/
.order-status
{
	width:170px;
	cursor:pointer
}
.order-list-view
{
	margin-top:40px;
	
}
.order-list-view .dropdown span, .order-detail-status span
{
	cursor:pointer;
}
.order-list-view .dropdown-menu li, .order-detail-status .dropdown-menu li
{
	padding:5px 10px;
    cursor: pointer;
}
#basic-deatil textarea.form-control {
    height: 100px;
}
.In-Progress
{
	background:rgba(20,166,64,1.00);
	padding:5px 10px;
	color:#fff;
	border-radius:5px;
}
.Order
{
	background-color:brown;
	padding:5px 10px;
	color:#fff;
	border-radius:5px;
}
.Ready
{
	background-color:blue;
	padding:5px 10px;
	color:#fff;
	border-radius:5px;
}
.Dispatched
{
    background-color:black;
	padding:5px 10px;
	color:#fff;
	border-radius:5px;
}
.Delivered
{
     background-color:darkgreen;
	padding:5px 10px;
	color:#fff;
	border-radius:5px;
}
.Cancellation 
{
      background-color:darkred;
	padding:5px 10px;
	color:#fff;
	border-radius:5px;
}
/*8888*/
#In-Progress
{
	background:rgba(20,166,64,1.00);
	padding:5px 10px;
	color:#fff;
	border-radius:5px;
}
#Order
{
	background-color:brown;
	padding:5px 10px;
	color:#fff;
	border-radius:5px;
}
#Ready
{
	background-color:blue;
	padding:5px 10px;
	color:#fff;
	border-radius:5px;
}
#Dispatched
{
    background-color:black;
	padding:5px 10px;
	color:#fff;
	border-radius:5px;
}
#Delivered
{
     background-color:darkgreen;
	padding:5px 10px;
	color:#fff;
	border-radius:5px;
}
#Cancellation 
{
      background-color:darkred;
	padding:5px 10px;
	color:#fff;
	border-radius:5px;
}




/*****Order Detail View*****/
.Order-detail-container
{
	
}
.order-detail-status .dropdown
{
	display:inline-block;
}
.Order-detail-container hr
{border-top: 1px solid rgb(255, 196, 168);
}
.Gift-picture
{
	width:100%;
	text-align:center;
	display:flex;
	justify-content:center;
	height:250px;
	border:1px solid #ccc;
}
.Gift-picture img
{
	max-width:100%;
	max-height:100%;
	align-self:center;
}
.msg-with-gift
{
	background:#fff;
	padding:10px 15px;
	margin-top:20px;
}

.msg-with-gift h2
{
	font-size:18px;
	margin-top:0;
}
.msg-with-gift p
{
	font-size:13px;
}
.order-sender-detail h2, .order-recipient-detail h2, .payment-summary h2
{
	font-size:18px;
}
.searching-bar
{
	width:100%;
	padding:15px;
	background:#343843;
height:60px;
}
.searching-bar .right-bar
{
	float:right;
	max-width: 700px;
    width: 100%;
	
}
.searching-bar .right-bar select, .searching-bar .right-bar input[type="text"]
{
	width:40%;
	margin-left:9%;
height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.searching-bar .right-bar input[type="text"]
{
	background:#fff url(../images/Search-icon.png);
    background-repeat: no-repeat;
    background-position: 98%;
  	background-size:24px;
}
.product-grid ul li 
{
	list-style:none;
	width:30.3%;
	padding: 5px 10px;
    margin: 2% 0 2% 2%;
    border: 1px solid #dfdfdf;
	display:inline-block;
	position:relative;
	box-sizing:border-box;
	vertical-align:top;
    position:relative;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;	
}
.product-grid ul li .closed{
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
    height: 20px;
    margin: 0;
}
.product-grid ul li .closed a::before{
    content: "\f00d";
    font-family: FontAwesome;
    font-size: 15px;
}
.product-grid ul li .closed a{
    font-size:0;
    width: 20px;
    height: 20px;
    color: #000;
    display:inline-block;
    cursor:pointer;
    background: rgba(51, 51, 51, 0.32);
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}
.product-grid ul li .closed a:hover{
    text-decoration:none;
    color: rgba(51, 51, 51, 0.73);
}
.product-grid ul 
{
	padding-left:0;
	margin-top:20px;
}
.product-grid ul li img
{
	height:150px;
	max-width:100%;

}
.product-grid ul li:hover {
    box-shadow: 1px 7px 22px #888888;
}
.product-detail-container
{
	padding-bottom:50px;
}
.product-img {
    text-align: center;
}
.product-name
    {  
    color: #15bdc3;
    font-weight: bold;
    margin: 5px;
    text-align: left;
}
.product-id
{
	float:left;
		
}
.product-price
{
    float: right;
    color: #B96800;
	font-weight:600;
}
.sub-form-gp, .subcategory-form-gp{
        background: #f3f3f3;
    position: relative;
    padding: 20px 0px 10px 0px;
    margin-bottom: 10px;
    display:none;

}
.sub-form-gp .r1{
    width:70%;
    float:left;
}
.sub-form-gp .r2{
    width:30%;
        float:left;
}
.sub-form-gp .theme-btn, .subcategory-form-gp .theme-btn
{
    padding:7px 0;
    margin:0;
}
.subcategory-form-gp .r1 {
    float:left;
    width:60px;
    }
.subcategory-form-gp .r2 {
    float:left;
    width:calc(100% - 150px);
    }
.subcategory-form-gp .r3 {
    float:left;
     width:90px;
    }
.upload-product-image img
{
    width:40px;
    height:40px;
    border:1px solid #cfcfcf;

}
.category-form .form-control
{
    display:inline-block;
    vertical-align:top;
    width:79%;
}
.category-form   a
{
    display:inline-block;
    background: #444444;
    border: none;
    color: #fff;
    padding: 5px 0;
    width: 18%;
    text-align:center;
    font-size:18px;
    vertical-align:top;
    cursor:pointer;
}
.category-form   a:hover
{
    text-decoration:none;
}
.ui-resizable-se {
    bottom: 10px;right:10px;
}
#productForm input[type="text"]:disabled
{
    background:#eee!important;
    color:#555!important;
}
#special-diet
{
    height:180px;
    overflow:hidden;
}
#ageAppropriate
{
    height:120px;
    overflow:hidden;
}
.more-result-btn
{
    text-align:center;
    margin:20px 0;
}
.more-result-btn a{
    background: #343843;
    color: #fff;
    padding: 10px 15px;
}
.more-result-btn a:hover
{
    text-decoration:none;
}
.no-result-btn
{
    text-align:center;
    margin:20px 0;
}

/**********************Add Question*************************************/
.answer-type {
	background: #fff;
	margin-bottom: 30px;
	padding: 10px 10px 15px;;
	/*box-shadow: 0px 0px 2px #888888;*/
    border: 1px solid #f3f3f3;
}
input[type="radio"], input[type="checkbox"]{
	vertical-align:middle;
    margin: 0px 3px 3px 0;
}
legend{
	line-height: 1.9;
}
.edit-icon {
    margin-right: 15px;
}
.icon-wrapper {
    display: none;
}
.icon-wrapper .fa{
	color:#15bdc3;
	-webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;	
}
.icon-wrapper .fa:hover{color:#333;}
.qustion-icon-wrapper:hover .icon-wrapper {
    display: block;
}
.question {
    font-weight: 700;
}
.qustion-icon-wrapper {
    min-height: 30px;
}
.question-answer-wrapper {
    padding: 25px 0;
    border-top: 1px solid #ececec;
}
.question-answer-wrapper:first-child {
    border-top: none;
	padding-top: 0;
}
.question-answer-wrapper:last-child{
	padding-bottom: 0;
}
.answer-dropable-wrapper {
    border: 1px solid #f3f3f3;
    padding: 25px;
	/*display:none;*/
}
#answer-droppable {
    width: 100%;
    display: block;
    height: 100px;
    border: 1px solid #f3f3f3;
    margin: 60px 0 20px;
	padding: 20px;
}
#answer-droppable:focus {
    outline: 0;
}
#answer-draggable-input {
    height: 50px;
    line-height: 50px;
    display: table;
    width: 100%;
}
#answer-draggable-input input[type="text"]{
	display: table-cell;
    vertical-align: middle;
}
#answer-droppable p{margin:0;color: #555;}
.option-btn{
	margin:10px 0 0;
	display:none;
}
.droppable .option-btn{
	display: block;
}
.ui-state-highlight{height:auto !important;}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight{
	background: #fff;
	color: #454545;
}
.question-button{
	max-width: 165px;
    width: 100%;
}
.answer-dropable-wrapper .form-control{
    width:100%;
}
.save-button{max-width:100px;width:100%;margin-bottom: 20px;}
.input-wrap .control-label{
		text-align:left;
	}
.input-wrap {
    position: relative;
}
.sub-input-wrap {
    padding-left: 25px;
}
.more-sub{
	padding-left:25px;
}
.delete-option {
    position: relative;
    right: 0;
    top: 8px;
	cursor:pointer;
	-webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}
.delete-option:hover{
	color: #15bdc3;
}
.add-more {
    line-height: 20px;
    height: 20px;
    display: inline-block;
    margin-top: 8px;
	color:#15bdc3;
}
.add-more:hover {
	color:#454545;
	text-decoration: none;
}
.generalTip ul{
    list-style:none;
}
/***********************************************************/
/**********************Add Tip*************************************/
.button-wrapper {
    margin-top: 15px;
}
.button-wrapper .form-group{
	margin-bottom: 0;
} 
.ui-dialog-titlebar-close::before{
    content: "\f00d";
    font-family: FontAwesome;
    color: #000;
    position: relative;
    top: -2px;
    font-size: 14px;
}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset{
    float: none !important;
    text-align:center;
}
.ui-dialog .ui-dialog-buttonpane button{
    display: inline-block;
    width: 80px;
    background: #15bdc3;
    border: none;
    color: #fff;
    padding: 5px 0;
}
.ui-widget-header{
    background: #15bdc3 !important;
    border: 1px solid #15bdc3 !important;
    color: #fff !important;
}
/*.btn-default[disabled]:hover{
	    background: #444444;
	    color: #fff;
}*/
/***********************************************************/
/**********************User Management************************************/
.user-table td,.user-table th {
    text-align: left !important;
}
.user-table td{
	padding: 8px 15px !important;
}
.user-table-head {
    margin: 0;
}
.user-image {
    display: inline-block;
    width: 25px;
    height: 25px;
    background: #ccc;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 10px;
	text-align: center;
}
.user-image img {
    width: 100% !important;
    border-radius: 50%;
    height: 100%;
}
.user-image span {
	vertical-align: middle;
    font-size: 15px;
    font-weight: 600;
    height: 25px;
    display: inline-block;
    line-height: 27px;
}
.table-wrap {
    height: 536px;
    overflow: auto;
}
@media screen and (max-width: 991px){
	.question-button,.save-button {
    	max-width: 100%;
	}
	.answer-dropable-wrapper{
		padding: 25px 15px;
	}
	#answer-droppable{
		padding: 5px;
		margin: 20px 0 20px;
	}
}
@media screen and (max-width: 767px){
	.button-wrapper .theme-btn{
		margin-bottom: 5px;
	}
}