﻿<div class="row">
    <!--/Main Block-->
    <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="form-main-container">
            <div class="form-heading">
                <span class="form-heading-icon"><i class="fa fa-bars"></i></span>
                <h4>Add Tips</h4>
            </div>
            <div class="form-container">
                <form class="form-horizontal">
                    <div class="row">
                        <div class="col-md-10  col-md-offset-1">
                            <div class="button-wrapper">
                                <div class="row">
                                    <div class="col-sm-3 col-md-2">
                                        <button type="button" class="theme-btn" id="tipSave" disabled="disabled">Save</button>
                                    </div>
                                    @*<div class="col-sm-3 col-md-2">
                    <button type="button" class="btn-default" id="" disabled="disabled">Add Tip</button>
                </div>*@
                                    <div class="col-sm-3 col-md-2">
                                        <button type="button" class="btn-default" id="resetbtn" disabled="disabled">Reset</button>
                                    </div>
                                </div>
                            </div>
                            <textarea class="form-control" placeholder="Enter Tip" id="txtEditor"></textarea>
                           
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--/.container-fluid-->

<script>

    $('#tipSave').click(function () {
        var data = $(".Editor-editor").html();
        $.ajax({
            type: "POST",
            contentType: "application/json;charset=utf-8",
            url: '/Recipe/AddTip/',
            data: JSON.stringify({ tips: data}),
            success: function (data) {
                if(data==1)
                {
                    window.location.href = "IndexTip";
                }
            }
        });
    });


    $('#resetbtn').click(function () {
        $(".Editor-editor").html("");
        $('#resetbtn').attr({ 'disabled': true });
    });


    $(document).on('keyup', '.Editor-editor', function () {
        if ($('.Editor-editor').text().trim() != "")
        {
            $('#tipSave').attr({ 'disabled': false });
            $('#resetbtn').attr({ 'disabled': false });
        }
        else
        {
            $('#tipSave').attr({ 'disabled': true });
            $('#resetbtn').attr({ 'disabled': true });
        }
    });

</script>
   
