﻿<title>Index Tips</title>
<link href="//cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/css/bootstrap.css" rel="stylesheet" />
<link href="~/Content/css/font-awesome.css" rel="stylesheet" />
<link href="~/Content/css/bydayStyle.css" rel="stylesheet" />

<div class="row" hidden>
    <div class="col-md-8 col-md-offset-2" style="text-align:center;">
        <input type="text" placeholder="Search by tips" name="OrderName" id="autoSearchOrder" onkeyup="" class="search-bar"><button disabled id="btnSearch">Search</button>

    </div>
</div>

<div class="row">
    <div class="col-md-10 col-md-offset-1 order-list-view">
        @*<table width="100%" class="table table-striped">*@
        <table id="myTable" width="100%" class="table table-responsive table-striped">
            <colgroup>
                <col class="gift-id">
                <col class="delivery-date">
                <col class="order-date">
                <col class="order-status">
            </colgroup>
            <thead>
                <tr>
                    <th>S.No</th>
                    <th>Description</th>
                    <th>Status</th>
                </tr>
            </thead>


        </table>

    </div>
</div><!--/.row-->
<div id="modal_dialog" style="display: none">
    Are you sure?
</div>
@section Scripts{


    <script src="//cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/tip-details.js"></script>

}
