﻿@model ByDay.Web.UI.ViewModel.Recipe.RecipeIndex
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<title>View Recipes</title>
<link href="//cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/css/bootstrap.css" rel="stylesheet" />
<link href="~/Content/css/font-awesome.css" rel="stylesheet" />
<link href="~/Content/css/bydayStyle.css" rel="stylesheet" />


<div class="row">
    <div class="col-md-8 col-md-offset-2" style="text-align:center;">
        <input type="text" autofocus placeholder="Search Recipe" name="recipeName" id="autoSearch" onkeyup="" class="search-bar"><button disabled id="btnSearch">Search</button>

    </div>
</div>
<div style="width:90%; margin:0 auto" id="recipeTable">
    <div>
        <table id="myTable" width="100%" class="table table-responsive table-striped">
            <colgroup>
                <col class="recipe-sno">
                <col class="recipe-RecipeName">
                <col class="recipe-image">
                <col class="recipe-action">
            </colgroup>
            <thead>
                <tr>
                    <th>S.No</th>
                    <th>Recipe Name</th>
                    <th>Recipe Image</th>
                    <th>Action</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<div id="modal_dialog" style="display: none">
    Are you sure?
</div>
@section Scripts{
   
   <script src="//cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/recipe-detail.js"></script>

}


