﻿
<div class="row">
    @{string Description =  ViewBag.TipDescription;
        int TipId = ViewBag.tipId;  }
    <!--/Main Block-->
    <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="form-main-container">
            <div class="form-heading">
                <span class="form-heading-icon"><i class="fa fa-bars"></i></span>
                <h4>View Tips</h4>
            </div>
            <div class="form-container">
                <form class="form-horizontal">
                    <div class="row">
                        <div class="col-md-10  col-md-offset-1">
                            <div class="button-wrapper">
                                <div class="row">
                                    <div class="col-sm-3 col-md-2">
                                        <button type="button" class="theme-btn" id="tipEdit">Edit Tips</button>
                                    </div>
                                    @*<div class="col-sm-3 col-md-2">
                    <button type="button" class="btn-default" id="" disabled="disabled">Add Tip</button>
                </div>*@
                                    <div class="col-sm-3 col-md-2">
                                        <button type="button" class="btn-default" id="tipUpdate" disabled="disabled">Update</button>
                                    </div>
                                    <div class="col-sm-3 col-md-2">
                                        <a href="@Url.Content("~/Recipe/IndexTip")" id="CancelTip" class="theme-btn">Cancel</a>
                                        @*<button type="button" class="btn-default" id="resetbtn">Cancel</button>*@
                                    </div>
                                </div>
                            </div>
                            <textarea class="form-control" placeholder="Enter Tip" id="txtEditor"></textarea>
                           
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    var description;
    var TipId = '@(TipId)';
    $(document).ready(function () {
        description = '@Html.Raw(Description)';
        $(window).load(function () {
            $("#txtEditor").Editor("setText", description);
            //$(".Editor-editor").html(Description);
            $(".Editor-editor").attr("contenteditable", false);
        });


    });
    //var referrer = document.referrer;

    $('#tipEdit').click(function () {

        $('#tipEdit').attr({ 'disabled': true });
        $(".Editor-editor").attr("contenteditable", true);
        $("#tipUpdate").attr("disabled", false);

    });
    $('#tipUpdate').click(function () {
        var data = $(".Editor-editor").html();
        $.ajax({
            type: "POST",
            contentType: "application/json;charset=utf-8",
            url: '/Recipe/EditTip/',
            data: JSON.stringify({ tips: data,TipId:TipId }),
            success: function (data) {
                if (data == 1) {
                    window.location.href = "/Recipe/IndexTip";
                }
            }
        });
    });



</script>
