﻿@model ByDay.Web.UI.ViewModel.Recipe.RecipeEdit
    <title>Recipe Detail</title>
<div class="row">
    <div class="col-md-6 col-sm-12 col-md-offset-6">
        <div class="form-group">
            <div class="col-md-4 col-md-offset-4 col-xs-offset-4 col-xs-4">
                <a href="@Url.Content("~/Recipe/Edit/"+Model.Id)" id="saveRecipeBtn"  class="theme-btn">Edit</a>
            </div>
            <div class="col-md-4 col-xs-4">
                <a href="@Url.Content("~/Recipe/AddRecipe/")" id="saveRecipeBtn" class="theme-btn">Add Recipe</a>                
            </div>
        </div>
    </div>
</div>
<div class="view-recipe-detail">
    <div class="row">
        <div class="col-md-4">
            <div class="recepie-image">
                @if (Model.images.ToList().Count > 0)
                {
                    <img src="@Model.images.ToList()[0].Path" />
                }
                else
                {
                    <img src="/images/Cheela.JPG" />
                }
            </div>
        </div>
        <div class="col-md-8">
            <p class="edit-recipe-RecipeName"><b>@Model.RecipeName</b><span class="serving"></span> </p>
            <table class="basic-recepie-detail">
                <tr>
                    <td>Prep. Time(min)</td>
                    <td>Cooking Time(min)</td>
                    <td>Weekend preparable</td>
                </tr>
                <tr>
                    @{var prepTime = Model.PrepTime == 0 ? "" : Model.PrepTime.ToString();}
                    <td>@prepTime</td>
                    @{ var cookingTime = Model.CookingTime == 0 ? "" : Model.CookingTime.ToString();}
                    <td>@cookingTime</td>
                    @*@{var weekendPreparable = Model.WeekendPreparable == true ? "Yes" : "No";}
                    <td>@weekendPreparable</td>*@
                    @{var weekendPreparable = Model.WeekendPreparable.ToString(); }
                    @if (Model.WeekendPreparable == null)
                    {
                        weekendPreparable = "";
                    }
                    else if (Model.WeekendPreparable == true)
                    {
                        weekendPreparable = "Yes";
                    }

                    else
                    {
                        weekendPreparable = "No";
                    }
                    <td>@weekendPreparable</td>

                </tr>
            </table>
            @{var cuisineName = ""; var spiceLevel = "";}
            @if (Model.CuisineList.Count > 0)
            {
                var cuisine = Model.CuisineList.Find(x => x.Id == Model.CuisineId);
                if (cuisine != null)
                {
                    cuisineName = cuisine.Value;
                }
            }
            @if (Model.SpicyLevel.Count > 0)
            {
                var spice = Model.SpicyLevel.Find(x => x.Id == Model.SpiceLevelId);
                if (spice != null)
                {
                    spiceLevel = spice.Value;
                }
            }
            
            <p>
                @if (cuisineName != "")
                 {<span class="cousine-type">@cuisineName </span>

               if (spiceLevel != "")
                    {     <span>,</span>
                    }
                }
                @if (spiceLevel != "")
                {   <span class="spicy-level"> @spiceLevel</span>
                }
            </p>
            @{ var numServings = Model.NumServings == 0 ? "" : Model.NumServings.ToString();}
             <p><strong>Serves: </strong>@numServings</p>
        </div>

    </div><!--/.row-->
    <div class="row">
        <div class="col-xs-12">
            <h3>Ingredients: </h3>
            <ul class="intgredients-item">
                @foreach (var item in Model.Ingrideints)
                {
                    <li>
                        @{ var quantityValue = ""; var quantityTypeValue = "";}
                        @{var quantity = item.Quantities.FirstOrDefault(x => x.Id == item.QuantityId);
                            if (quantity != null)
                            {
                                quantityValue = quantity.Value;
                            }

                            var quantityType = item.QuantityType.FirstOrDefault(x => x.Id == item.QuanityTypeId);
                            if (quantityType != null)
                            {
                                quantityTypeValue = quantityType.Value;
                            }
                        }

                                                                        @*@{List<string>  ingridientType = new List<string>();}
        @foreach (var type in item.IngridientType)
        {
            foreach (var ingType in item.IngridientTypeId)
            {
                if (ingType == type.Id) {
                    ingridientType.Add(type.Value);
                }
            }
        }
         @string.Join(", ", ingridientType)
                                 @(item.HardToFind.HasValue? item.HardToFind.Value?"hard to find": "easily available" : ""),
                                                <strong>@(string.IsNullOrEmpty(item.IngredientCost.HasValue ? item.IngredientCost.Value.ToString() : "") ? "" : "($" + item.IngredientCost+")") </strong>
                                                                        *@


                        @quantityValue @quantityTypeValue @item.IngredientName, @item.IngredientType @(item.Omittable.HasValue? item.Omittable.Value ? "omit" : "not to omit,":"") <i>@item.Tip</i>  </li>
                            }

            </ul>
        </div>

    </div><!--/.row-->    <!--/.row-->
    <div class="row">
        <div class="col-xs-12">
            <h3>Instructions: </h3>
            <p>@Model.Instructions</p>
        </div>

    </div><!--/.row-->
    <div class="row">
        <div class="col-xs-12">
            <h3>Description: </h3>
            <p>@Model.Description</p>
        </div>

    </div><!--/.row-->
    <div class="row">
        <div class="col-xs-12 generalTip">
            <h3>Picky Eater Tip:</h3>
            <ul>
                <li>@Model.PickyEaterTip</li>
            </ul>
        </div>

    </div><!--/.row-->
    <div class="row">
        <div class="col-xs-12 ">
            <h3>General Tips: </h3>
            <p>  @Model.GeneralTips</p>
        </div>

    </div><!--/.row-->
    <div class="row">
        <div class="col-xs-8">
            <h3>Other Details: </h3>
            <table class="table table-bordered table-striped" width="50%">
                <colgroup> <col class="col-xs-2"> <col class="col-xs-6"> </colgroup>
                <thead><tr><th>Label</th> <th>Description</th> </tr> </thead>
                <tr>
                    <td><label>Ready when get home</label></td>
                    <td>
                        @{var readyWhenGetHome = Model.ReadyWhenGetHome == true ? "Yes" : "No";}
                        @readyWhenGetHome
                    </td>
                </tr>
                <tr>
                    <td><label>Quick fix match</label></td>
                    <td>
                        @{var quickMatch = "";}
                        @if (Model.RecipesList.Count() > 0)
                        {
                            var quick = Model.RecipesList.FirstOrDefault(x => x.Id == Model.QuickFixMatch);
                            quickMatch = quick == null ? "" : quick.RecipeName;
                        }
                        @quickMatch
                    </td>
                </tr>
                <tr>
                    <td><label>Is most like</label></td>
                    <td>
                        @{List<string> recipeName = new List<string>();}
                        @foreach (var item in Model.RecipesList)
                        {
                            if (Model.IsMostLike.Contains(item.Id.ToString()))
                            {
                                recipeName.Add(item.RecipeName);
                            }

                        }
                        @string.Join(", ", recipeName)
                    </td>
                </tr>
                <tr>
                    <td><label>Unique to database</label></td>
                    <td>
                        @*@{var uniqueToDatabase = Model.UniqueToDatabase == true ? "Yes" : "No";}
                        @uniqueToDatabase*@

                        @{var uniqueToDb = Model.UniqueToDatabase.ToString(); }
                        @if (Model.UniqueToDatabase == null)
                        {
                            uniqueToDb = "";
                        }
                        else if (Model.UniqueToDatabase == true)
                        {
                            uniqueToDb = "Yes";
                        }

                        else
                        {
                            uniqueToDb = "No";
                        }
                        @uniqueToDb
                    </td>
                </tr>
                <tr>
                    <td><label>Age appropriateness</label></td>
                    <td>
                        @{ List<string> ageApp = new List<string>();}

                        @foreach (var item in Model.AgeAppropriateness)
                        {
                            @*@Html.CheckBoxFor(item.Id,)*@
                            if (Model.AgeGroupIds.Where(x => x == item.Id).Any())
                            {
                                ageApp.Add(item.Name);
                            }
                        }
                        @string.Join(", ", ageApp)
                    </td>
                </tr>
                <tr>
                    <td><label>Top 10% of cuisine</label></td>
                    <td>
                        @*@{var topCuisine = Model.Top10PercentOfCuisine == true ? "Yes" : "No";}
                        @topCuisine*@

                        @{var topCuisine = Model.Top10PercentOfCuisine.ToString(); }
                        @if (Model.Top10PercentOfCuisine == null)
                        {
                            topCuisine = "";
                        }
                        else if (Model.Top10PercentOfCuisine == true)
                        {
                            topCuisine = "Yes";
                        }

                        else
                        {
                            topCuisine = "No";
                        }
                        @topCuisine
                    </td>
                </tr>
                <tr>
                    <td><label>Leftover recipe </label></td>
                    @*@{var leftoverRecipeId = Model.LeftoverRecipeId == 0 ? "" : Model.LeftoverRecipeId.ToString();}
                    <td>@leftoverRecipeId</td>*@


                    @{List<string> LeftoverRecipe = new List<string>();}
                    @foreach (var item in Model.RecipesList)
                    {
                        if (Model.LeftOverRecipe.Contains(item.Id.ToString()))
                        {
                            LeftoverRecipe.Add(item.RecipeName);
                        }

                    }
                  <td> @string.Join(", ", LeftoverRecipe)</td>

                </tr>
                <tr>
                    <td><label>Freezable</label></td>
                    <td>
                        @*@{var freezable = Model.Freezable == true ? "Yes" : "No";}
                        @freezable*@
                        @{var freezable = Model.Freezable.ToString(); }
                        @if (Model.Freezable == null)
                        {
                            freezable = "";
                        }
                        else if (Model.Freezable == true)
                        {
                            freezable = "Yes";
                        }

                        else
                        {
                            freezable = "No";
                        }
                        @freezable
                    </td>
                </tr>
                <tr>
                    <td><label>Simplicity level</label></td>
                    <td>
                        @{ var simplicityName = "";}
                        @foreach (var item in Model.SimplicityLevelList)
                        {
                            if (item.Id == Model.SimplicityId) { simplicityName = item.Value; }
                        }
                        @simplicityName
                    </td>
                </tr>
                @*<tr>
                    <td><label>Backup plan worthiness</label></td>
                    <td>
                        @{var backupPlan = Model.BackupPlanWorthiness == true ? "Yes" : "No";}
                        @backupPlan
                    </td>
                </tr>*@
                <tr>
                    <td><label>Publish</label></td>
                    <td>
                        @*@{var publish = Model.Publish == true ? "Yes" : "No";}
                        @publish*@
                        @{var publish = Model.Publish.ToString(); }
                        @if (Model.Publish == null)
                        {
                            publish = "";
                        }
                        else if (Model.Publish == true)
                        {
                            publish = "Yes";
                        }

                        else
                        {
                            publish = "No";
                        }
                        @publish

                    </td>
                </tr>
                <tr>
                    <td><label>Category</label></td>
                    <td>
                        @{ List<string> category = new List<string>();}

                        @foreach (var item in Model.Category)
                        {
                            @*@Html.CheckBoxFor(item.Id,)*@
                            if (Model.CategoryId.Where(x => x == item.Id).Any())
                            {
                                category.Add(item.Name);
                            }
                        }
                        @string.Join(", ", category)
                    </td>
                </tr>

                <tr>
                    <td><label>Cuisines & styles</label></td>
                    <td>
                        @{ List<string> Cuisines = new List<string>();}

                        @foreach (var item in Model.CuisineList)
                        {
                            @*@Html.CheckBoxFor(item.Id,)*@

                            if (Model.CusineGroupId != null)
                            {
                                if (Model.CusineGroupId.Where(x => x == item.Id).Any())
                                {
                                    Cuisines.Add(item.Value);
                                }
                            }
                        }
                        @string.Join(", ",Cuisines)
                    </td>
                </tr>

                <tr>
                    <td><label>Special diets</label></td>
                    <td>
                        @{ List<string> diets = new List<string>();}

                        @foreach (var item in Model.SpecialDiet)
                        {
                            @*@Html.CheckBoxFor(item.Id,)*@

                            if (Model.SpecialDietId != null)
                            {
                                if (Model.SpecialDietId.Where(x => x == item.Id).Any())
                                {
                                    diets.Add(item.Name);
                                }
                            }
                        }
                        @string.Join(", ", diets)
                    </td>
                </tr>
                <tr>
                    <td><label>Processed Level</label></td>
                    <td>
                        @{ var ProcessedName = "";}
                        @foreach (var item in Model.IngredientPreferenceIdLevel)
                        {
                            if (item.Id == Model.IngredientPreferenceId) { ProcessedName = item.Value; }
                        }
                        @ProcessedName
                    </td>
                </tr>
     

            </table>
        </div>

    </div><!--/.row-->
</div><!--/view-recipe-detail--->
