﻿<div class="row">
    <div class="col-md-6 col-sm-12 col-md-offset-6 col-xs-12">
        <div class="row">
            <div class="col-md-4 col-xs-4 pull-right">
                <div class="save-button pull-right">
                    <button type="button" class="theme-btn" disabled="disabled"> Save</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <!--/Left Block-->
    <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="form-main-container">
            <div class="form-heading" data-toggle="collapse" data-target="#questionarie">
                <span class="form-heading-icon"><i class="fa fa-bars"></i></span>
                <h4>Questionnaire</h4>
            </div>
            <div class="form-container dropable-form-container collapse in" id="questionarie">
                <form class="form-horizontal">
                    <div class="question-answer-wrapper">
                        <div class="qustion-icon-wrapper">
                            <span class="question">
                                Q. ICAO stands for
                            </span>
                            <div class="icon-wrapper pull-right">
                                <span class="edit-icon">
                                    <a href="#"><i class="fa fa-pencil"></i></a>
                                </span>
                                <span class="delete-icon">
                                    <a href="#"><i class="fa fa-trash"></i></a>
                                </span>
                            </div>
                        </div>
                        <div id="answer-type">
                            <div class="input-wrap">
                                <label class="control-label no-padding">
                                    <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
                                    A. International Civil Aviation Organization
                                </label>
                            </div>
                            <div class="input-wrap">
                                <label class="control-label">
                                    <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
                                    B. International Custom Aviation Organization
                                </label>
                            </div>
                            <div class="input-wrap">
                                <label class="control-label">
                                    <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
                                    C. Internal Custom Aviation Organization
                                </label>
                            </div>
                            <div class="input-wrap">
                                <label class="control-label">
                                    <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
                                    D. Internal Custom Active Organization
                                </label>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-actions">
                                        <button type="button" class="theme-btn option-btn" id="category-form-btn" contenteditable="false"> Add Option</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--/Right Block-->
    <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="right-content-wrapper">
            <div class="form-main-container">
                <div class="form-heading">
                    <span class="form-heading-icon"><i class="fa fa-bars"></i></span>
                    <h4>Type Of Answer</h4>
                </div>
                <div class="form-container">
                    <form class="form-horizontal">
                        <div class="answer-dropable-wrapper" id="category-form">
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="control-label">Question</label>
                                    <div class="input-box">
                                        <input type="text" class="form-control" placeholder="What do you want to say?">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label class="control-label">Answer Type</label>
                                    <div class="input-box">
                                        <select class="form-control fa" id="answertype" name="AnswerType" style="font-family:'FontAwesome', Helvetica, Arial;">
                                            <option value="">Select Answer Type</option>
                                            <option value="Pragraph" class="choice_text">&#xf039; &nbsp;Pragraph</option>
                                            <option value="" class="single_choice">&#xf28e; &nbsp; Single Choice</option>
                                            <option value="" class="multiple_choice">&#xf046; &nbsp; Multiple Choice</option>
                                            <option value="" class="multiple_single_choice">&#xf00c; &nbsp; Multiple Single Choice</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="drag-option-wrapper">
                                <!--<div class="answer-type">
                                    <legend>Option First</legend>
                                    <div id="answer-draggable" class="draggable">
                                        <div class="input-wrap">
                                          <label class="control-label no-padding">
                                            <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                                            Yes
                                          </label>
                                        </div>
                                        <div class="input-wrap">
                                        <label class="control-label">
                                            <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
                                            No
                                          </label>
                                        </div>
                                    </div>
                                </div>-->
                                <div class="answer-type" id="singlechoice_form">
                                    <div class="input-wrap">
                                        <label class="control-label">
                                            <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                                            A. International Civil Aviation Organization
                                        </label>
                                        <span class="delete-option pull-right"><i class="fa fa-times" aria-hidden="true"></i></span>
                                    </div>
                                    <div class="input-wrap">
                                        <label class="control-label">
                                            <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
                                            B. International Custom Aviation Organization
                                        </label>
                                        <span class="delete-option pull-right"><i class="fa fa-times" aria-hidden="true"></i></span>
                                    </div>
                                    <div class="input-wrap">
                                        <label class="control-label">
                                            <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
                                            C. Internal Custom Aviation Organization
                                        </label>
                                        <span class="delete-option pull-right"><i class="fa fa-times" aria-hidden="true"></i></span>
                                    </div>
                                    <div class="input-wrap">
                                        <label class="control-label">
                                            <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
                                            D. Internal Custom Active Organization
                                        </label>
                                        <span class="delete-option pull-right"><i class="fa fa-times" aria-hidden="true"></i></span>
                                    </div>
                                    <a href="#" class="add-more">Add More Options</a>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-actions">
                                                <button type="button" class="theme-btn option-btn" id="category-form-btn" contenteditable="false"> Add Option</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="answer-type" id="multichoice_form">
                                    <div class="input-wrap">
                                        <label class="control-label">
                                            <input type="checkbox" class="form-check-input" name="optionsChecks" id="optionsChecks1" value="option1" checked>
                                            A. International Civil Aviation Organization
                                        </label>
                                        <span class="delete-option pull-right"><i class="fa fa-times" aria-hidden="true"></i></span>
                                    </div>
                                    <div class="input-wrap">
                                        <label class="control-label">
                                            <input type="checkbox" class="form-check-input" name="optionsChecks" id="optionsChecks2" value="option2">
                                            B. International Custom Aviation Organization
                                        </label>
                                        <span class="delete-option pull-right"><i class="fa fa-times" aria-hidden="true"></i></span>
                                    </div>
                                    <div class="input-wrap">
                                        <label class="control-label">
                                            <input type="checkbox" class="form-check-input" name="optionsChecks" id="optionsChecks3" value="option2">
                                            C. Internal Custom Aviation Organization
                                        </label>
                                        <span class="delete-option pull-right"><i class="fa fa-times" aria-hidden="true"></i></span>
                                    </div>
                                    <div class="input-wrap">
                                        <label class="control-label">
                                            <input type="checkbox" class="form-check-input" name="optionsChecks" id="optionsChecks4" value="option2">
                                            D. Internal Custom Active Organization
                                        </label>
                                        <span class="delete-option pull-right"><i class="fa fa-times" aria-hidden="true"></i></span>
                                    </div>
                                    <a href="#" class="add-more">Add More Options</a>
                                </div>
                                <div class="answer-type no-margin" id="text_choice">
                                    <div class="form-wrapper">
                                        <div class="draggable" id="answer-draggable-input">
                                            <input class="form-control" type="text" value="">
                                        </div>
                                    </div>
                                </div>
                                <div class="answer-type" id="multichoicesub_form">
                                    <div class="input-wrap">
                                        <label class="control-label">
                                            <input type="checkbox" class="form-check-input" name="optionsChecks" id="optionsChecks1" value="option1" checked>
                                            A. International Civil Aviation Organization
                                        </label>
                                        <span class="delete-option pull-right"><i class="fa fa-times" aria-hidden="true"></i></span>
                                        <div class="sub-input-wrap">
                                            <label class="control-label">
                                                <input type="checkbox" class="form-check-input" name="optionsChecks" id="optionsChecks1" value="option1" checked>
                                                a. International Civil Aviation Organization
                                            </label>
                                            <span class="delete-option pull-right"><i class="fa fa-times" aria-hidden="true"></i></span>
                                        </div>
                                        <div class="sub-input-wrap">
                                            <label class="control-label">
                                                <input type="checkbox" class="form-check-input" name="optionsChecks" id="optionsChecks1" value="option1">
                                                b. International Civil Aviation Organization
                                            </label>
                                            <span class="delete-option pull-right"><i class="fa fa-times" aria-hidden="true"></i></span>
                                        </div>
                                        <a href="#" class="add-more more-sub">Add More Sub Options</a>
                                    </div>
                                    <div class="input-wrap">
                                        <label class="control-label">
                                            <input type="checkbox" class="form-check-input" name="optionsChecks" id="optionsChecks2" value="option2">
                                            B. International Custom Aviation Organization
                                        </label>
                                        <span class="delete-option pull-right"><i class="fa fa-times" aria-hidden="true"></i></span>
                                    </div>
                                    <div class="input-wrap">
                                        <label class="control-label">
                                            <input type="checkbox" class="form-check-input" name="optionsChecks" id="optionsChecks3" value="option2">
                                            C. Internal Custom Aviation Organization
                                        </label>
                                        <span class="delete-option pull-right"><i class="fa fa-times" aria-hidden="true"></i></span>
                                    </div>
                                    <div class="input-wrap">
                                        <label class="control-label">
                                            <input type="checkbox" class="form-check-input" name="optionsChecks" id="optionsChecks4" value="option2">
                                            D. Internal Custom Active Organization
                                        </label>
                                        <span class="delete-option pull-right"><i class="fa fa-times" aria-hidden="true"></i></span>
                                    </div>
                                    <a href="#" class="add-more">Add More Options</a>
                                </div>
                            </div>
                            <div class="form-group mar-b-0">
                                <div class="question-button pull-right">
                                    <div class="form-actions">
                                        <button type="button" class="btn-default add-btn"> + Add More Question</button>
                                    </div>
                                </div>
                            </div>
                            <!--
                            <div id="answer-droppable" class="droppable" contenteditable="true">
                              <p>Drag your answer type here..</p>
                            </div>
                            -->
                        </div>
                    </form>
                </div>
            </div>
        </div><!--/.row1-->
    </div>
</div>